Assignment5/GUI/Service/AllService_tryItPage/App_WebReferences/YJServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDictionary">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Dictionary" nillable="true" type="tns:Dictionary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDictionary" nillable="true" type="tns:ArrayOfDictionary" />
  <xs:complexType name="Dictionary">
    <xs:sequence>
      <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="output" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Dictionary" nillable="true" type="tns:Dictionary" />
</xs:schema>