Assignment4/Assignment4/Client/Application/Service References/xmlService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="verification">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlUri" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xsdUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="verificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="verificationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchWsdl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="wsdlUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchWsdlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchWsdlResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>