Assignment5/GUI/Service/Try_It_Test_Pages/App_WebReferences/myServices/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Hao_Yan_Services/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Hao_Yan_Services/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Hao_Yan_Services/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_WsdlAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:WsdlAddress" />
  </wsdl:message>
  <wsdl:message name="IService_WsdlAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:WsdlAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WsOperations_InputMessage">
    <wsdl:part name="parameters" element="tns:WsOperations" />
  </wsdl:message>
  <wsdl:message name="IService_WsOperations_OutputMessage">
    <wsdl:part name="parameters" element="tns:WsOperationsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_checkRotation_InputMessage">
    <wsdl:part name="parameters" element="tns:checkRotation" />
  </wsdl:message>
  <wsdl:message name="IService_checkRotation_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkRotationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_checkUnique_InputMessage">
    <wsdl:part name="parameters" element="tns:checkUnique" />
  </wsdl:message>
  <wsdl:message name="IService_checkUnique_OutputMessage">
    <wsdl:part name="parameters" element="tns:checkUniqueResponse" />
  </wsdl:message>
  <wsdl:message name="IService_replaceSpace_InputMessage">
    <wsdl:part name="parameters" element="tns:replaceSpace" />
  </wsdl:message>
  <wsdl:message name="IService_replaceSpace_OutputMessage">
    <wsdl:part name="parameters" element="tns:replaceSpaceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_largestCommonSubstring_InputMessage">
    <wsdl:part name="parameters" element="tns:largestCommonSubstring" />
  </wsdl:message>
  <wsdl:message name="IService_largestCommonSubstring_OutputMessage">
    <wsdl:part name="parameters" element="tns:largestCommonSubstringResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="WsdlAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WsdlAddress" message="tns:IService_WsdlAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WsdlAddressResponse" message="tns:IService_WsdlAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WsOperations">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WsOperations" message="tns:IService_WsOperations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WsOperationsResponse" message="tns:IService_WsOperations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkRotation">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/checkRotation" message="tns:IService_checkRotation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/checkRotationResponse" message="tns:IService_checkRotation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="checkUnique">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/checkUnique" message="tns:IService_checkUnique_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/checkUniqueResponse" message="tns:IService_checkUnique_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="replaceSpace">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/replaceSpace" message="tns:IService_replaceSpace_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/replaceSpaceResponse" message="tns:IService_replaceSpace_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="largestCommonSubstring">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/largestCommonSubstring" message="tns:IService_largestCommonSubstring_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/largestCommonSubstringResponse" message="tns:IService_largestCommonSubstring_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WsdlAddress">
      <soap:operation soapAction="http://tempuri.org/IService/WsdlAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WsOperations">
      <soap:operation soapAction="http://tempuri.org/IService/WsOperations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkRotation">
      <soap:operation soapAction="http://tempuri.org/IService/checkRotation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUnique">
      <soap:operation soapAction="http://tempuri.org/IService/checkUnique" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="replaceSpace">
      <soap:operation soapAction="http://tempuri.org/IService/replaceSpace" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="largestCommonSubstring">
      <soap:operation soapAction="http://tempuri.org/IService/largestCommonSubstring" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/Hao_Yan_Services/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>