Assignment5/Services/TryItPage/App_WebReferences/MergeSortingService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MergeSorting">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="chars" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MergeSortingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MergeSortingResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>